<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title> Quasar App </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header> Essential Links </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          :route-name="getRoute(link.link)"
          :active="isHighlighted(link.link)"
          @click.prevent="toggleHighlight(link.link)"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";
import EssentialLink from "components/EssentialLink.vue";
import { useRoute, useRouter } from "vue-router";
import { MyTasks, FinishedTasks, DeletedTasks } from "../composables/Tasks.js";
const linksList = [
  {
    title: "My Tasks",
    caption: "List of unfinished tasks",
    icon: "task",
    link: "my-tasks",
  },
  {
    title: "Finished Tasks",
    caption: "List of finished tasks",
    icon: "check_circle_outline",
    link: "finished-tasks",
  },
  {
    title: "Deleted Tasks",
    caption: "List of deleted tasks",
    icon: "delete_outline",
    link: "deleted-tasks",
  },
];

export default defineComponent({
  name: "MainLayout",

  components: {
    EssentialLink,
  },

  setup() {
    const leftDrawerOpen = ref(false);
    const highlightedLink = ref(null);
    const route = useRoute();
    const router = useRouter();

    const isHighlighted = (link) => {
      return link === highlightedLink.value;
    };

    const toggleHighlight = (link) => {
      highlightedLink.value = link;
      router.push({ name: link });
    };

    const toggleLeftDrawer = () => {
      leftDrawerOpen.value = !leftDrawerOpen.value;
    };

    const getRoute = (link) => {
      switch (link) {
        case "my-tasks":
          return MyTasks.value.length ? link : "";
        case "finished-tasks":
          return FinishedTasks.value.length ? link : "";
        case "deleted-tasks":
          return DeletedTasks.value.length ? link : "";
        default:
          return "";
      }
    };

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      isHighlighted,
      toggleHighlight,
      toggleLeftDrawer,
      getRoute,
    };
  },
});
</script>
